<h1>Index View of ApplicatonController</h1>

<p>
    <h1>Old value is : @((int)Context.Application["counter"]-1)</h1>
    <h1>new value is : @(Context.Application["counter"])</h1>

</p>
<p>
    @Html.ActionLink("Go to summary", "Index", "Summary")
</p>